* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* app */

/* header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  height: 52px;
}

.page-wrapper {
  padding: 0 124px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-span {
  font-size: 7px;
  color: #444444;
  text-transform: uppercase;
}

.logo {
  cursor: pointer;
  height: 29px;
  width: 100px;
  background-image: url("https://static-znews.zingcdn.me/images/logo-zing-home.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/* nav*/

.category-menu {
  line-height: 52px;
  font-weight: bold;
  overflow: hidden;
}

.category-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.category-menu li {
  padding: 0 15px;
  font-size: 14px;
  color: #444444;
  position: relative;
  cursor: pointer;
}

.category-menu li i {
  font-size: 16px;
}

.parent {
  position: relative;
}

.parent:hover {
  color: #3399cc;
}

.parent:hover .parent-span {
  display: block;
}

.parent-span {
  position: absolute;
  top: 50px;
  left: 0;
  height: 2px;
  width: 100%;
  border-style: solid;
  border-color: #3399cc;
  display: none;
}

/* avatar */

.section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section-search i {
  font-size: 22px;
  margin-left: 16px;
}

.section-search:hover {
  cursor: pointer;
  color: #24aee4;
}

.section-avatar img {
  margin-left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.main {
  margin: auto;
}

.content {
  width: 1025px;
  margin: auto;
}

/* section title */
.section-title {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.section-title span {
  border-radius: 92px;
  background-color: #f0f0f0;
  padding: 2px 10px;
  color: #3399cc;
}

.section-title span:hover {
  cursor: pointer;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

/* container */

.container {
  display: flex;
  padding-bottom: 60px;
}

/* container left */

.container-left {
  width: 300px;
  height: 524px;
  padding-right: 20px;
}

.item-left li {
  display: flex;
  list-style: none;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #dedede;
}

.item-left p {
  margin: 4px 0 0 8px;
}

.item-left p:hover {
  cursor: pointer;
  color: #006ba0;
}

.item-left img {
  width: 120px;
  height: 80px;
}

/* container right */

.container-right {
  flex: 1;
}

.item-right {
  float: left;
  width: 445px;
  cursor: pointer;
}

/* hover */

.item-right h1:hover {
  color: #006ba0;
}

.item-right span:hover {
  color: #006ba0;
}

.item-right img {
  width: 100%;
  height: 297px;
}

.item-right p {
  font-size: 0.875rem;
  color: #444;
  line-height: 1;
  display: block;
  cursor: text;
}

.item-right span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #000;
}

.item-heading {
  font-size: 32px;
  margin: 10px 0;
  font-weight: bold;
  line-height: 1.2;
}

.section-right {
  float: right;
  width: 234px;
  margin-right: 25px;
  cursor: pointer;
}

.section-right li {
  list-style: none;
}

.section-right li:hover {
  color: #006ba0;
}

.section-right h4 {
  margin: 10px 0 25px;
  line-height: 1.4;
}

.section-right img {
  width: 234px;
  height: 156px;
}

/* section-multimedia */

.section-multimedia {
  width: 100%;
  height: 533px;
  background-color: #ffde76;
  cursor: pointer;
  margin-bottom: 40px;
}

.section-heading {
  display: flex;
  padding: 40px 0 20px 70px;
}

.section-heading h3 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  cursor: text;
}

.section-heading ul {
  margin-left: 30px;
}

.section-heading li {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  display: inline-block;
  padding: 0 15px;
}

.section-heading li:hover {
  color: #dd3333;
}

/* section body */
.section-body {
  display: flex;
}

.section-left {
  width: 490px;
  height: 427px;
  margin: 0 10px 0 30px;
}

.section-left h4 {
  font-size: 24px;
  margin: 10px 0;
}

.section-left h4:hover {
  color: #006ba0;
}

.section-left p {
  font-size: 14px;
  color: #333;
  cursor: text;
}

.section-left img {
  width: 100%;
}

.section-body-right {
  flex: 1;
  display: flex;
}

.section-list li {
  list-style: none;
  padding: 0 10px 20px;
}

.section-list p {
  font-size: 16px;
  margin-top: 5px;
  line-height: 1.4;
}

.section-list p:hover {
  color: #006ba0;
}

.section-list img {
  width: 235px;
  height: 156px;
}

/* section - publit */

.section-publish {
  width: 100%;
}

.section-content {
  cursor: pointer;
}

.section-header {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin: 0 0 20px 13px;
}
.section-header h3 {
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
}

.section-content img {
  width: 100%;
  height: 121px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.section-content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.section-content li {
  margin: 0 10px;
  width: 184px;
  height: 201px;
  border: 1px solid #dddddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.section-content p {
  font-size: 16px;
  line-height: 1.2;
  padding: 10px;
}

.section-content p:hover {
  color: #006ba0;
}

/* contro */

.contro {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -114px;
}

.glide__arrow {
  padding: 6px;
  border: none;
  border-radius: 92px;
}

.glide__arrow i:hover {
  cursor: pointer;
  color: #000;
}
.glide__arrow i {
  font-size: 20px;
  color: #ccc;
}

/* article */

.article {
  display: flex;
}

.article-list {
  width: 680px;
  height: 1650px;
  overflow-y: auto;
  cursor: pointer;
  margin-bottom: 60px;
}

.acrtcle-item {
  display: flex;
  list-style: none;
  padding-bottom: 20px;
  margin: 0 20px 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.acrtcle-item:nth-child(21) {
  border-bottom: none;
}

.item-body {
  margin-left: 20px;
}

.item-body h4 {
  font-size: 19px;
  color: #333;
  margin-bottom: 10px;
}

.item-body h4:hover {
  color: #006ba0;
}

.font {
  line-height: 1.4;
  font-size: 15px;
  color: #888;
  cursor: text;
}

.acrtcle-item img {
  width: 224px;
  height: 149px;
}

/* .article-siderbar */

.article-siderbar {
  flex: 1;
}

.siderbar-mostview {
  margin: 20px 0;
  cursor: pointer;
}

.siderbar-item1 {
  background-color: #f4f4ef;
  border: 1px solid hsl(60, 19%, 95%);
  padding: 25px;
}

.siderbar-item2 {
  border: 1px solid #f0f0f0;
  padding: 25px;
}

.siderbar-mostview h3 {
  font-size: 24px;
  cursor: text;
}

.siderbar-mostview li {
  display: flex;
  margin: 20px 0;
}

.siderbar-mostview img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 4px;
}

.siderbar-body {
  margin-left: 20px;
}

.siderbar-body span {
  font-size: 10px;
  color: #5c5c5c;
  text-transform: uppercase;
}

.siderbar-body p {
  line-height: 1.4;
  color: #333;
  font-weight: 500;
}

.siderbar-body p:hover {
  color: #006ba0;
}

/* siderbar-podacst */

.siderbar-podacst {
  width: 100%;
  height: 570px;
  background-color: #2f2f40;
  cursor: pointer;
}

/* .podacst-item1 */
.podacst-item1 {
  padding: 0 25px;
}

.avatar-img {
  text-align: center;
}

.avatar-img img {
  width: 100%;
  height: 166px;
  object-fit: cover;
  border-radius: 4px;
}

.podacst-logo {
  text-align: center;
  padding: 20px 0 5px 0;
}

.podacst-logo img {
  width: 120px;
}

/* .podacst-item2 */

.podacst-item2 {
  padding: 0 25px;
  line-height: 1.4;
}

.item-p {
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.item-p:hover,
.podacst-list p:hover {
  color: #006ba0;
}

.podacst-list li {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #444454;
}

.podacst-list img {
  width: 72;
  height: 49px;
  border-radius: 6px;
}

.podacst-list p {
  color: #fff;
  font-size: 14px;
  margin-left: 18px;
}

/* section-lifestyle */

.section-lifestyle {
  cursor: pointer;
  margin-bottom: 50px;
}

.lifestyle-h3 {
  font-size: 20px;
  text-transform: uppercase;
}

.lifestyle-h3:hover {
  color: #006ba0;
}

.section-layout-left {
  width: 714px;
  display: flex;
  padding-right: 20px;
}

.layout-left {
  padding-right: 15px;
}

.layout-left h4 {
  font-size: 24px;
  margin: 10px 0;
}

.layout-left h4:hover {
  color: #006ba0;
}

.layout-left img {
  width: 456px;
  height: 304px;
}

.sub-layout-left img {
  width: 221px;
  height: 147px;
  object-fit: cover;
}

.sub-layout-left li {
  list-style: none;
  margin-bottom: 25px;
}

.sub-layout-left p {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 18px;
}

.sub-layout-left p:hover {
  color: #006ba0;
}

/* .section-layout-right  */
.section-layout-right {
  flex: 1;
  border-left: 1px solid #eeeeee;
  padding-left: 21px;
}

.section-layout-right li {
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

.section-layout-right img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 4px;
}

.section-layout-right p {
  padding-right: 42px;
}

.section-layout-right p:hover {
  color: #006ba0;
}

/* layout grid */

.layout-grid {
  border-top: 2px solid #333333;
}

.section-layout {
  margin: 25px 0 55px 0;
}

.layout-item {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.section-layout li {
  width: 240px;
  margin: 0 10px;
}

.category-title {
  padding-left: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
}

.category-title::after {
  content: "";
  position: absolute;
  width: 5px;
  top: 1px;
  bottom: 3px;
  left: 0;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  transform: skew(-20deg);
  background-color: #dd3333;
}

.section-layout img {
  width: 100%;
  height: 156px;
}
.section-layout p {
  font-size: 18px;
  line-height: 1.4;
  margin: 10px 0 20px 0;
  color: #000;
}

.section-layout p:hover {
  color: #006ba0;
}

/* layout bottom */

.layout-top {
  height: 260px;
  margin-bottom: 25px;
}

.layout-bottom {
  border-top: 1px solid #eeeeee;
  padding-top: 15px;
}

.layout-ul li {
  display: flex;
  margin: 0;
}

.layout-ul li:nth-child(1) {
  margin-bottom: 15px;
}

.layout-ul li:nth-child(2) {
  padding-top: 15px;
  border-top: 1px solid #eeeeee;
}

.layout-ul p {
  font-size: 17px;
  line-height: 1.2;
  margin: 0 0 0 15px;
}

.layout-bottom img {
  width: 105;
  height: 70px;
}

/* submain */

.sub-main {
  width: 100%;
  background-color: #eeeeee;
  cursor: pointer;
}

.submain-h3 {
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  padding: 30px 0 0 47px;
}

.submain-list {
  display: flex;
  justify-content: space-evenly;
}
.sub-img {
  position: relative;
}

.sub-img img {
  width: 260px;
  height: 435px;
  object-fit: cover;
  position: relative;
  border-radius: 4px;
}
.sub-icon:hover,
.sub-icon i:hover,
.sub-img img:hover {
  color: #000;
  background-color: #ffde76;
  box-shadow: 0 5px 5px #000;
  border-radius: 4px;
  animation: FINDAIN linear 1s;
}

/* anminition */

@keyframes FINDAIN {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}
.sub-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub-body p {
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  height: 98px;
}

.sub-body p:hover {
  color: #ffde76;
}

.sub-icon {
  margin-top: 20px;
  background-color: #000;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-icon i {
  color: #ffde76;
  font-size: 30px;
}

/* sub top */

.sub-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #ffde76;
  padding: 5px 2px;
  border-radius: 4px;
}

.sub-top span {
  text-transform: uppercase;
}

/* sub-content */

.sub-content {
  width: 1025px;
  margin: auto;
}

.sub-content-list {
  display: flex;
}

.sub-content-item1 {
  width: 700px;
  height: 393px;
  padding-right: 10px;
}

.sub-content-item1 video {
  width: 100%;
}

.sub-content-item2 {
  flex: 1;
  background-color: #eeeeee;
  border: 1px;
  height: 390px;
  overflow-y: auto;
}

.sub-content-ul {
  list-style: none;
  padding: 10px;
}

.sub-content-ul li {
  display: flex;
  padding-bottom: 10px;
}

.sub-content-ul img {
  width: 120px;
  height: 80px;
}

.sub-content-body {
  margin-left: 10px;
}

.sub-content-body p {
  color: #000;
  line-height: 1.4;
}

.sub-content-body span {
  color: #888;
  font-size: 10px;
  text-transform: uppercase;
}

/* footer */

.footer {
  margin-top: 50px;
  font-size: 12px;
  color: #888;
  overflow: hidden;
  background-color: #f7f7f7;
}

.footer-wrapper {
  width: 1100px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.footer-right p,
.footer-info p {
  line-height: 1.4;
  font-size: 14px;
}

.footer-right-info {
  width: 190px;
  background-color: #333;
  border-radius: 2px;
}

.footer-right-info span {
  color: #fff;
  margin-left: 10px;
}
