/* mobile */
@media screen and (max-width: 700px) {
  .main {
    margin-top: 0;
  }
  /* header */
  .category-menu,
  .section-avatar {
    display: none;
  }
  .content {
    margin-top: 66px;
    padding: 0 20px;
  }
  /* container */
  .container {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  /* container right */
  .item-right {
    margin-bottom: 21px;
    width: 100%;
  }
  .item-right span {
    display: none;
  }
  .itemright-img {
    height: 225px;
  }
  .section-right-ul1 {
    display: flex;
  }
  .section-right-ul1 li {
    width: 310px;
  }
  .section-right-ul1 li:nth-child(2) {
    margin-left: 10px;
  }
  .section-right-ul1 img {
    width: 100%;
    height: 189px;
    object-fit: cover;
  }
  .section-title,
  .subitem-right,
  .section-right-ul2 {
    display: none;
  }
  .section-right {
    margin-right: 0;
    width: 100%;
  }

  /* container left */
  .container-left {
    width: 100%;
    padding-right: 0;
  }
  .item-left li {
    border-top: 1px solid #eeee;
  }
  .item-left li:nth-child(1) {
    padding-top: 15px;
  }
  /* section-multimedia */
  .section-multimedia {
    margin-top: 30px;
    padding: 0 15px;
  }
  .section-heading ul {
    display: none;
  }
  .section-body {
    display: flex;
    flex-wrap: wrap;
  }
  /* section-publish */

  .section-content-ul1 {
    display: none;
  }
  .section-content-ul2 li {
    height: 240px;
  }
  /* .section-left */
  .section-left {
    width: 100%;
    margin: 0;
  }
  .section-left h4 {
    font-size: 30px;
  }
  .section-left p {
    font-size: 18px;
  }
  .section-left h4,
  .section-left p {
    text-align: center;
  }
  /* section-body-right */
  .section-body-right {
    margin-top: 85px;
    max-width: 685px;
  }
  .section-list {
  }

  .section-list li {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    height: 270px;
  }
  .section-list:nth-child(2) {
    margin-left: 10px;
  }
  .section-list img {
    width: 100%;
    height: 199px;
    object-fit: cover;
  }
  .section-list p {
    font-size: 16px;
    margin-top: 10px;
  }

  /* article */
  .article {
    padding: 0 15px;
  }
  .article-siderbar,
  .acrtcle-item p {
    display: none;
  }
  .acrtcle-item img {
    width: 130px;
    height: 87px;
  }

  /* section-lifestyle */

  .section-body {
    max-width: 685px;
  }
  .section-layout-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }
  .layout-left {
    padding-right: 0;
  }
  .layout-left img {
    width: 100%;
  }
  .sub-layout-left {
    margin-top: 30px;
    max-width: 685px;
  }
  .sub-layout-left ul {
    display: flex;
  }
  .sub-layout-left li {
    width: 76%;
    padding: 0 10px;
  }
  .sub-layout-left img {
    width: 100%;
    height: 196px;
  }
  .section-layout-right {
    border-left: none;
    padding-left: 0;
  }
  .section-layout-right-ul1 p {
    width: 87%;
  }
  .section-layout-right-ul1 li:nth-child(5) {
    border-bottom: none;
  }
  .section-layout-right-ul2 {
    display: none;
  }
  /* layout-grid */

  .layout-item {
    display: none;
  }

  .section-lifestyle {
    margin-bottom: 0;
  }
  .section-header {
    border-bottom: none;
    padding: 0;
    margin-left: 13px;
  }
  .trending-h3 {
    color: #007bc7;
  }
  /* section-layout */
  .section-layout {
    margin: 25px 0 0 0;
  }
  .section-layout li {
    list-style: none;
    width: 100%;
    margin: 0;
  }
  .layout-item-sub {
    display: flex;
    max-width: 685px;
  }
  .layout-item-sub-ul1 {
    width: 50%;
    margin-right: 15px;
  }
  .layout-item-sub-ul2 {
    width: 50%;
  }
  .layout-top {
    height: 150px;
    display: flex;
    margin-bottom: 0;
  }
  .layout-top img {
    width: 37%;
    height: 80px;
    object-fit: cover;
  }
  .layout-top p {
    margin: 0 0 0 15px;
  }
  /*phan submain-list */
  .sub-main {
    max-width: 685px;
    padding: 0 15px;
    overflow: hidden;
  }
  .sub-item:nth-child(2) {
    margin: 0 10px;
  }
  .sub-item:nth-child(4) {
    display: none;
  }

  .sub-img img {
    width: 100%;
  }
  .sub-content {
    display: none;
  }
  /* footer-wrapper */
  .footer-wrapper {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
  }
  .footer-right-info {
    width: 100%;
  }
}

/* tablet */
@media screen and (min-width: 700px) and (max-width: 1023px) {
  /* header */
  .header {
    height: 70px;
    margin-bottom: 30px;
  }
  .page-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 25px;
  }
  .header-span {
    font-size: 9px;
    color: #000;
  }
  .logo {
    height: 37px;
    width: 125px;
  }

  .category-menu {
    display: none;
  }
  /* content */

  .content {
    max-width: 1023px;
    padding: 0 40px;
  }
  .container-left {
    display: none;
  }
  .container-right {
    max-width: 983px;
  }
  .item-right {
    width: 48%;
  }
  /* item-right */
  .item-right p,
  .item-right span {
    display: none;
  }
  .section-right-ul2 p {
    margin: 0;
  }

  /* sub-item */
  .subitem-ul p {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 13px;
    color: #000;
  }
  .subitem-img {
    width: 100%;
  }

  /* section */
  .section-title {
    display: none;
  }
  .section-right {
    width: 47%;
  }
  .section-right li {
    display: flex;
    padding-bottom: 15px;
  }
  .section-right p {
    margin-left: 20px;
  }
  .section-right img {
    width: 120px;
    height: 80px;
  }
  .section-right-ul1 {
    display: none;
  }
  /* section-multimedia */
  .section-multimedia {
    max-width: 983px;
  }
  .section-heading ul {
    display: none;
  }
  .section-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
  }
  /* .section-left */
  .section-left {
    width: 100%;
    margin: 0;
  }
  .section-left img {
    height: 400px;
  }
  .section-left h4 {
    font-size: 30px;
  }
  .section-left p {
    font-size: 18px;
  }
  .section-left h4,
  .section-left p {
    text-align: center;
  }
  /* section-body-right */
  .section-body-right {
    margin-top: 90px;
    max-width: 983px;
  }
  .section-list {
    width: 70%;
  }
  .section-list li {
    margin: 0 3px;
  }
  .section-list img {
    width: 100%;
    height: 284px;
    object-fit: cover;
  }
  .section-list p {
    font-size: 24px;
    margin-top: 10px;
  }
  /* .section-content */
  .section-content h3 {
    font-size: 30px;
  }
  .section-content-ul1 {
    display: none;
  }
  .section-content-ul2 {
    max-width: 983px;
  }
  .section-content-ul2 li {
    width: 50%;
    height: 238px;
  }
  .section-content-ul2 p {
    font-size: 18px;
  }
  .section-content-ul2 img {
    height: 143px;
  }
  .contro {
    top: -134px;
  }
  /* article-siderbar */
  .article-siderbar {
    display: none;
  }
  /* article-list */
  .article-list {
    width: 100%;
  }
  .acrtcle-item img {
    width: 228px;
    height: 152px;
  }
  .item-body h4 {
    font-size: 24px;
  }
  .item-body p {
    font-size: 20px;
  }
  /* phan section-lifestyle */

  .section-body {
    max-width: 983px;
    padding: 0;
  }
  /* layout-left */
  .section-layout-left {
    width: 100%;
    padding-right: 0;
  }
  .layout-left img {
    width: 100%;
  }
  .layout-left h4 {
    font-size: 30px;
  }

  .sub-layout-left li {
    width: 221px;
  }
  .sub-layout-left img {
    width: 100%;
  }
  .font {
    font-size: 20px;
  }
  /* section-layout-right */
  .section-layout-right {
    width: 100%;
    display: flex;
    padding: 0;
    max-width: 983px;
    border-left: none;
    margin-top: 50px;
  }
  .section-layout-right-ul1,
  .section-layout-right-ul2 {
    width: 95%;
  }
  .section-layout-right-ul1 li,
  .section-layout-right-ul2 li {
    height: 110px;
  }
  .section-layout-right-ul1 img,
  .section-layout-right-ul2 img {
    float: right;
  }
  .section-layout-right-ul1 p,
  .section-layout-right-ul2 p {
    font-size: 20px;
  }
  .section-layout-right-ul1 {
    margin-right: 30px;
  }
  /* phan layout-grid */

  .layout-item {
    display: none;
  }
  .layout-bottom {
    display: none;
  }
  .section-layout li {
    margin: 0;
  }
  .layout-item-sub {
    max-width: 983px;
  }
  .layout-item-sub-ul1,
  .layout-item-sub-ul2 {
    width: 50%;
    margin-right: 15px;
  }
  .layout-item-sub-ul1 li,
  .layout-item-sub-ul2 li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #eeee;
    margin-bottom: 20px;
  }
  .layout-item-sub-ul1 li:nth-child(3),
  .layout-item-sub-ul2 li:nth-child(3) {
    border-bottom: none;
  }
  .layout-item-sub-ul1 li:nth-child(1),
  .layout-item-sub-ul2 li:nth-child(1) {
    height: 176px;
  }

  .category-title {
    font-size: 24px;
  }
  .layout-top {
    display: flex;
    height: 80px;
  }
  .layout-top img {
    width: 120px;
    height: 80px;
  }
  .layout-top p {
    font-size: 20px;
    margin: 0 20px;
  }
  /*phan submain-list */
  .sub-main {
    max-width: 983px;
    padding: 0 50px;
    overflow: hidden;
  }
  .sub-item:nth-child(2) {
    margin: 0 10px;
  }
  .sub-item:nth-child(4) {
    display: none;
  }
  .sub-img img {
    width: 100%;
  }
  .sub-content {
    display: none;
  }
  /* footer-wrapper */
  .footer-wrapper {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
  }
  .footer-right-info {
    width: 100%;
  }
}

/* pc */

@media (min-width: 1024px) {
  /* header */
  .header-nav-left {
    display: none;
  }
  /* content section */
  .section-right-ul2 {
    display: none;
  }
  .subitem-right {
    display: none;
  }
  /* section-content */
  .section-content-ul2 {
    display: none;
  }
  .section-layout-right-ul2 {
    display: none;
  }
  .layout-item-sub {
    display: none;
  }
  .content {
    width: 1025px;
  }
}
